<div class="chat-titlebar md-whiteframe-z1" layout="row" layout-align="start center">
    <span class="onlive-num">{{ state.joinedGroup.users.length }}</span>&nbsp;&nbsp;<span>members</span>
    <span flex></span>
    <md-button class="md-icon-button chat-title-button" aria-label="check users">
        <md-icon md-font-icon="icon-users"></md-icon>
    </md-button>
</div>
<div class="chat-container">
    <div class="box">
        <div>
            <div ng-repeat="msg in messages" ng-class="{'me-item': msg.user.id === state.loginUser.id, 'other-item': msg.user.id !== state.loginUser.id}">
                <div class="item-nick-name">{{ msg.user.nickname }}</div>
                <div class="item-message">
                    <div class="item-arrow"></div>
                    <div ng-bind-html="msg.data"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<chat-sender on-submit="submitMessage(message)"></chat-sender>
