<div layout="column" style="height: 100%;">
    <md-toolbar class="md-whiteframe-z2">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" hide-gt-sm ng-click="toggleGroupsPanel('groups-panel')" aria-label="Show groups">
                <md-icon md-font-icon="icon-menu" style="font-size: 20px;"></md-icon>
            </md-button>
            <h2>
              <span>Let's talk</span>
            </h2>
            <span flex></span>
            <span ng-if="state.joinedGroup">{{ ::state.joinedGroup.name }}&nbsp;:&nbsp;</span>
            <span>{{ ::loginUser.nickname }}</span>
        </div>
    </md-toolbar>

    <div flex layout="row">

        <md-sidenav ng-if="!groups.length" md-is-locked-open="$mdMedia('gt-sm')" class="md-whiteframe-z1" md-component-id="groups-panel" layout="column" layout-align="center center">
            <md-button class="empty-group-area" ng-click="createGroup($event)">Create Group</md-button>
        </md-sidenav>

        <md-sidenav ng-if="groups.length" md-is-locked-open="$mdMedia('gt-sm')" class="md-whiteframe-z2" md-component-id="groups-panel" layout="column">
            <md-list layout="column" style="padding: 0;">
                <md-list-item ng-repeat="group in groups" ng-click="joinGroup(group)" ng-class="{'joined-group': state.joinedGroup.id === group.id}">
                    <md-icon md-font-icon="{{ group.icon }}" class="group-logo"></md-icon>
                    <p> {{ ::group.name }} </p>
                </md-list-item>
            </md-list>
        </md-sidenav>

        <md-content ng-if="!state.joinedGroup" flex layout="column" layout-align="center center">
            <h3>Click group on the left side to join the chat</h3>
        </md-content>

        <md-content ng-if="state.joinedGroup" flex layout="column">
            <ng-include src="'chatroomTemplate'" flex layout="column" autoscroll ng-controller="ChatRoomContoller"></ng-include>
        </md-content>


    </div>

</div>
