.chat{
    .group-logo {
        position: relative;
        width: 75px;
        height: 75px;
        border: 1px solid #ddd;
        border-radius: 50%;
        display: inline-block;
        overflow: hidden;
        margin: 0px;
        vertical-align: middle;
    }

    .empty-group-area{
        padding: 15px;
        border-width: 2px;
        border-style: dashed;
        border-color: #A4A4A4;
    }
}
