<div flex layout="column">
    <form name="loginform" ng-submit="login()">
        <div class="banner" layout="row"></div>
        <div flex layout="row" layout-align="center start">
            <md-content style="padding-top: 20px;">

                <md-input-container class="md-block">
                    <label>Nickname</label>
                    <input ng-model="user.nickname" name="nickname" type="text" autofocus required>
                </md-input-container>

                <md-button type="submit" class="md-raised md-primary" style="margin: 0;width: 100%;" ng-disabled="loginform.$invalid || state.busy">SIGN IN</md-button>
            </md-content>
        </div>
    </form>
</div>
